header{
    text-align: center;
    font-size: x-large;
    border-bottom: 1px solid rgb(228, 217, 122);
    padding-bottom: 5px;
}
.firstbox{
    border: 1px solid black;
    padding-bottom: 20px;
    background-color: antiquewhite;
    text-align: center;
}
.button{
    background-color:rgb(95, 95, 200);
    color: white;
    border-radius: 5px;
    padding: 4px;
    border: 1px solid black;
text-decoration: none;}
.button:hover{
    color: red;
}
.img{
    width: 500px;
    padding-left: 250px;
    height: 400px;
}
#lag{
    text-align: center;
    font-size: small;
}